

<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image: url(images/profile-bg-2.png);"></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h1 class="big">About</h1>
                        <h2 class="mb-4">About Me</h2>
                        <p>I am an undergraduate student at Tec of Monterrey studying Digital Systems and Robotics Engineering. I am passionate of what I do and practice: technology, music, sports and pets.</p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>Name:</span> <span>Fernando López Ramírez</span></li>
                            <li class="d-flex"><span>Date of birth:</span> <span>June 18, 2000</span></li>
                            <li class="d-flex"><span>Career:</span> <span>Digital Systems and Robotics Engineer</span></li>
                            <li class="d-flex"><span>Coursing:</span> <span>6th semester</span></li>
                            <li class="d-flex"><span>Email:</span> <span>flopezramirez@hotmail.com</span></li>
                            <li class="d-flex"><span>Phone: </span> <span>+52 22-26-75-48-31</span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text">
                        <p class="mb-4">
                        <!-- TODO -->
                        <!-- Change 'data-number' to a dynamic number of projects -->
                            <span class="number" data-number="120">0</span>
                            <!-- TODO -->
                            <!-- Change single or plural name depending 'data-number' -->
                            <!-- Projec | Projects -->
                            <span>Project complete</span>
                        </p>
                        <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>